{% extends "therapy_manager/layout.html" %}

{% block body %}

<form action="{% url 'appointments' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-2">
            <input type="datetime-local" id="appointment_date" name="appointment_date" onclick="dateInputClicked()">
            <span id="date_required">Please pick date</span>
        </div>
        <div class="col-2">
            <button class="btn btn-info" type="button">Filter</button>
        </div>
        {% if request.user.is_therapist or request.user.username == 'admin' %}
            <div class="col-8">
                <button class="btn btn-info" type="button" onclick="createNewAppointment()">Create new appointment</button>
            </div>
        {% endif %}
    </div>

    <div id="new_appointment">
        <div>
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input class="form-control" type="text" name="title" id="title">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="user">Client</label>
                        <select class="form-select form-control" name="client" id="client">
                            <option selected>Client</option>
                            {% for client in clients %}
                                <option value="{{ client }}">{{ client }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-success" type="submit">Create</button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <table>
        <tr>
            {% for appointment in appointments %}
                {% if forloop.counter0|divisibleby:3 %}
                </tr><tr>
                {% endif %}
                <td 
                    onclick="viewAppointment('{{ appointment.client }}', '{{ appointment.appointment_date }}', '{{ appointment.title }}', '{{ appointment.comment }}')" 
                    class="cursor-pointer">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            {% if request.user.is_therapist %}
                                <div class="row">
                                    <div class="col-12">
                                        with: {{ appointment.client}}
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-12">
                                        with: {{ appointment.therapist }}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    on: {{ appointment.appointment_date}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h3>
                                        {{ appointment.title }}
                                    </h3>
                                    <p>
                                        {{ appointment.comment }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            {% endfor %}
        </tr>
      </table>
</div>
  
{% endblock %}