{% extends "therapy_manager/layout.html" %}

{% block body %}

<form>
    {% csrf_token %}
    <div class="row">
        <div class="col-2">
            <input type="date" id="appointment_date" name="appointment_date" onclick="dateInputClicked()">
            <span id="date_required">Please pick date</span>
        </div>
        <div class="col-2">
            <button class="btn btn-info" type="button">Filter</button>
        </div>
        <div class="col-8">
            <button class="btn btn-info" type="button" onclick="createNewAppointment()">Create new appointment</button>
        </div>
    </div>
</form>
  
{% endblock %}