{% extends "therapy_manager/layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-2">
            <input type="datetime-local" id="diary_entry_date" name="diary_entry_date" onclick="dateDiaryEntryClicked()">
            <span id="diary_date_required">Please pick date</span>
            <button class="btn btn-info" onclick="addDiaryEntry()" id="entry_button">Add entry</button>
        </div>
    </div>


    <form action="" id="diary_entry">
        <div class="row margin-top-20 flexify-thingz-column">
            <h1>Dear diary,</h1>
            <div class="form-groupn width-80-percent">
                <textarea class="form-control" rows="20"></textarea>
            </div>

            <div class="margin-top-20">
                <button class="btn btn-success" type="submit">Save entry</button>
            </div>
        </div>

    </form>

{% endblock %}