{% extends "therapy_manager/layout.html" %}

{% block body %}
    <form action="{% url 'goals' %}" method="post">
        {% csrf_token %}
    
        <div class="row">
            <div class="col-2">
                <button class="btn btn-info" onclick="addGoal()" id="add_goal_button" type="button">Add goal</button>
            </div>
        </div>

        <div>
            <div id="goalsModal" class="modal">
        
                <div class="modal-content">
                    <div>
                        <span id="closeGoalsModal" class="close">&times;</span>
                    </div>
        
                    <div id="goalsModalContent"></div>
                </div>
        
            </div>
        </div>
    
    </form>
{% endblock %}