{% extends "therapy_manager/layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Username">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="password">
            </div>
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary">Log in</button>
    </div>
{% endblock %}